<body>

<h1>City</h1>
<p>Placeholder city.</p>
<div class="buildingsOwned">
    <p id="noBuildingsText">You have no buildings.</p>
</div>


<div class="buyButtons">
</div>

<p id="resourceText">gold: 0, wood: 0, stone: 0, amber: 0</p>
<div class="storageCapacity">
    <p>Storage Capacities:</p>
    <ul>
        <li id="goldStorage">Gold Storage: {{goldStorageCapacity}}</li>
        <li id="woodStorage">Wood Storage: {{woodStorageCapacity}}</li>
        <li id="stoneStorage">Stone Storage: {{stoneStorageCapacity}}</li>
        <li id="amberStorage">Amber Storage: {{amberStorageCapacity}}</li>
    </ul>
</div>
<a href="/logout">Logout</a>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="../public/js/main.js"></script>
</body>
