<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Mongo City Builder Help</title>
</head>
<body>
    <h1>Help</h1>
    <p>Welcome to Mongo City Builder, an interactive simulator where you can build the perfect city!
        Here, you can find explanations of the game's various mechanics.</p>
    
    <article>
        <h2>Daily Tasks</h2>
        <p>Every day, you can complete three basic tasks to resources and XP equal to ten times your current level.
            The three tasks are logging in, buying a building, and attacking another player in PVP. These rewards are automatically
            added to your account as soon as you finish them, and you can check the list of tasks from the city page to see if you've missed any.
        </p>
        <h2>Buying Buildings</h2>
        <p>Can't have a city without any buildings, now can you? You can purchase buildings from the main city page,
            as long as you have enough resources. There are a few different types of buildings. You have Generator buildings
            for each obtainable resource, allowing you to passively gain the corresponding material over time. Storage buildings increase 
            the maximum amount of a given resource you're allowed to have. Defense buildings will increase your city's chance of fending off
            invading armies during PVP, increase the mortality rates of enemy troops. There are also army buildings that impact your options in
            PVP combat, allowing to purchase certain types of troops or increasing the number you can deploy. See the PVP section below
            for more about how combat works.
        </p>
        <h2>PVP</h2>
        <p>Prove your city is better than anyone else's by invading another player's territory with your army!
            You can choose to attack another player from the PVP menu, either at random or by inputting the username
            of the desired target. This means you can and your friends can battle it out to see who has the better city!
        </p>
        <p>Once you've chosen a target, you'll be shown a menu where you can buy troops using your resources. Remember, you have to have specific buildings
            to buy some units, and an army camp will increase the number you can deploy. There are a few things you need to consider when it comes to troops.
            <ol>
                <li>Troop Statistics: Every unit has certain traits that determine their effectiveness in combat. Accuracy represents how likely it is for a troop
                    to land an attack. When an attack is successful, they'll deal damage to an enemy buidling, shown by the troops damage-per-hit stat. Mortality represents
                    how likely it is for a unit to die during an attack. Enemy defenses will increase this statistic based on the unit's armor type.
                    Your army formation and chosen strategy can change the mortality for some units, so plan accordingly! 
                </li>
                <li>Troop Size: You can only deploy so many troops during combat. Some troops take up more space than others, as determined by their size stat. You'll need
                    to plan your army composition to make the most of your available units.
                </li>
                <li>Troop Types: Troops fall into one of three categories: melee, ranged, or magic. Melee troops are the frontline soldiers that attack enemy buildings directly,
                    with a high accuracy to hit, but a moderate mortality due to their proximity to enemy defense. Ranged units stick the backlines and attack from a distance. 
                    Their damage isn't as high as melee units, but they have a much lower mortality rate. Magic units use magic attacks to assault enemy buildings.
                    They are guaranteed to hit with low mortality rates, but are much more expensive than the other two unit types.
                </li>
                <li>Armor Type: During PVP, the target's defenses will attempt to repel your invading army. How effective this is depends on the armor 
                    your deployed troops are wearing. There are three armor types: Unarmored, Armored, and Magic Armor. Most basic troops are unarmored,
                    which will take the most damage from enemy defenses. Stronger (and more expensive units) will be armored, increasing their survivability.
                    Magic units will always wear Magic Armor (shocking, I know), which have the highest of the three defense types.
                </li>
            </ol>
        </p>
    </article>
    <a href="/options">Go back to options</a>
</body>
</html>
