<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Leaderboard</title>
</head>

<body>
    <h1>Leaderboard</h1>

    <ol>
        <li id="first_place">{{first_place}}</li>
        <li id="second_place">{{second_place}}</li>
        <li id="third_place">{{third_place}}</li>
    </ol>

    <a href="/">Go back</a>
</body>
</html>
    