<body>
    <h1>Options</h1>
    <a href="/help">Click here to read up on how to play the game</a>
    <br>
    <a href="/report" class="report-button">Report a Player</a>
    <br>
    <a href="/logout">Logout</a>
</body>