<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Options Page</title>
</head>
<body>
    <h1>Options</h1>
    <div class = "options">
        <a href="/help">Click here to read up on how to play the game</a>
        <br>
        <a href="/report" class="report-button">Report a Player</a>
        <br>
        <a href="/logout">Logout</a>
        <br><br>
    </div>
    <a href="/city">Return to City</a>
</body>
</html>