<h1>PvP</h1>

<div class="pvp">
    <div class="pvpButtons">
        <button id="attack">Attack Random Player</button>
        <form id="target-attack">Attack Specific Player:</form>
    </div>
</div>

     