/* You will create a CSS stylesheet in /public/css/styles.css; this file should have at least 5 rulesets.  You will need to utilize all 5 rulesets on each of the pages (not every page has to use all 5 rulesets each but all 5 rulesets must be utilized by the various pages in your application).  So you can have some rulesets for one page, some for another page but there needs to be at least 5 total rulesets that are used between all the pages.  */
body {
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #B6CCA1;
}
.tasks{
    text-align: center;
    background-color: #B6CCA1;
}

header {
    background: #16262E;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
footer {
  text-align: center;
  margin-top: 50px;
  padding: 20px 0;
  background: #16262E;
  color: #fff;
  position: relative;
}
form {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    color: black;
}
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: #B6CCA1;
    color: #000000;
    border: none;
    border-radius: 5px;
  }    
  button:hover{
    cursor: pointer;
}

.error{
    color: red;
    font-size: 0.8em;
}
form label, form input[type="text"], form input[type="email"], form input[type="password"], form select, form button {
    display: block;
    margin-bottom: 10px;
}


form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.no-buildings {
    border: black 1px solid;
    padding: 10px;
    border-radius: 5px;
}

.city_buttons{
    text-align: right;
    font-size: 0.8em
}

.buildingsOwned {
    color: gold;
    background-color: #776D5A;
    padding: 20px;
    border-radius: 5px;
}

.generator{
    text-align: left;
    width: 25%;
}
.no_buy{
    color:red;

}

.buildingRow {
    border: 3px solid black;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.buildingRow img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.btn-build{
    width: 30%;
    
}

.column {
    float: left;
    width: 50%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.content-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.game-info {
    flex: 1;
    margin-right: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-container {
    flex-basis: 300px; 
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.game-info ul {
    list-style: none;
    padding: 0;
}

.game-info ul li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.game-info ul li:last-child {
    border-bottom: none;
}

.game-info h1, .game-info p {
    margin: 0 0 10px 0;
}

.options {
    font-size: 1.15rem;
}
